<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="imu">

	<xacro:include filename="$(find 4ws_auto_infantry)/urdf/sensor/imu/imu.gazebo.xacro"/>

    <xacro:macro name="imu_v0" params="prefix:=imu parent *joint_origin">
        <!-- Create imu reference frame -->
	<joint name="${prefix}_joint" type="fixed">
	  <xacro:insert_block name="joint_origin"/>
	  <parent link="${parent}"/>
	  <child link="${prefix}_link"/>
     	  <axis xyz="0 0 0" />
	</joint>

        <link name="${prefix}_link">
           <inertial>
      <origin
        xyz="-0.000490931902507874 8.33499974040031E-08 -0.0128774712286312"
        rpy="0 0 0" />
      <mass
        value="0.0152032914019641" />
      <inertia
        ixx="3.58585897336552E-06"
        ixy="1.07037003961398E-13"
        ixz="-1.60040769048652E-09"
        iyy="3.45316263291563E-06"
        iyz="5.26240295635906E-13"
        izz="5.64618660363721E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4ws_auto_infantry/meshes/imu_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4ws_auto_infantry/meshes/imu_link.STL" />
      </geometry>
    </collision>
        </link>
	
 </xacro:macro>
</robot>
